<div class="relative isolate px-6 pt-14 lg:px-8 animated-shapes-bg wave-bg">
  <!-- <div class="shape shape-1"></div>
  <div class="shape shape-2"></div>
  <div class="shape shape-3"></div>
  <div class="shape shape-4"></div> -->

  <div class="mx-auto w-full sm:py-20 lg:py-20 text-center">
    <div class="image-container">
      <img src="../../../assets/images/hero.png" alt="Hero Image" class="hero-image mx-auto">
    </div>
    <div class="content-container mt-10">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
        All-in-One Digital Services: <span [innerText]="currentText" class="text-indigo-600"></span>
      </h1>
      <p class="mt-6 text-lg leading-8 text-gray-800">Empowering Your Digital Presence with Expert Web Design, Development, and Marketing Solutions. Our team delivers tailored services in UI/UX design, multimedia, and mini projects to drive your business forward.</p>
      <div class="mt-10 flex items-center justify-center gap-x-6" style="margin-bottom: 20px;">
        <a href="#contact" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get in touch</a>
        <a href="#services" class="text-sm font-semibold leading-6 text-gray-900">Browse all services <span aria-hidden="true">→</span></a>
      </div>
    </div>
  </div>
</div>
