.navb {
    position: absolute;
    width: 100%;
    z-index: 20;
    background: rgba(255, 255, 255, 0.1); /* Transparent white background */
    backdrop-filter: blur(10px); /* Applies a blur effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}


@media (min-width: 1023px) and (max-width: 1300px) {
   .lg\:flex.lg\:space-x-4 > * {
       margin-right: 0 !important;
       --tw-space-x-reverse: 1;
   }
}