<!-- <app-navbar></app-navbar> -->




<!-- <app-footer></app-footer> -->


<body style="background-color: rgb(255, 255, 255); " >
    <div class="sections" id="home" data-label="Hero" data-section-index="0">
   
        <app-hero></app-hero>
 </div>
<div class="sections" id="why" data-label="About Us" data-section-index="1">
    <app-why></app-why>
</div>
<div class="sections" id="services" data-label="Services"  data-section-index="0">
    <app-category></app-category>
</div>
<div class="sections" id="contact" data-label="Features"  data-section-index="1">
    <app-contact></app-contact>
</div>

  
