/* Styling for the big image section */
.big-image {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.overlay p {
    font-size: 1.5rem;
}

/* Styling for sections */
.section {
    display: flex;
    align-items: center;
    padding: 40px;
    border-bottom: 1px solid #ddd;
}

.icon {
    width: 15%;
    margin-right: 20px;
}

.icon img {
    width: 100%;
    height: auto;
}

.content {
    width: 75%;
}

.custom-list ul {
    list-style: none;
    padding-left: 0;
}

.custom-list ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.custom-list ul li strong {
    color: rgb(40, 16, 157);
}
