<div class="padcontainer" id="services" style="z-index: 100 !important;">

  
    <!-- ======= Services Section ======= -->
    <section  class="services">

      <div class="container" data-aos="fade-up" style="margin-top: 45px;">

        <div class="mx-auto text-center md:max-w-xl lg:max-w-3xl">
          <h3 class="mb-6 text-3xl font-bold text-indigo-600">Our Services</h3>
          <p class="mb-6 pb-2 md:mb-12 md:pb-0 text-gray-500">We offers a diverse range of popular services, from web development to digital marketing.
          </p>
        </div>

      


        <div class="row gy-4" style="justify-content: space-evenly;">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-box orange">
                  <img src="../../assets/images/undraw_web_devices_re_m8sc.svg" style="height: 200px;" class="mx-auto d-block">
                  <br>
                  <h3 style="color: black !important;">Web Designing</h3>
                  <br>
                  <p style="color: black !important;">
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">Responsive Design</span>
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">SEO Optimization</span>
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">Cross-Browser Compatibility</span>
                  </p>
                  <br>
                  <a [routerLink]="['/webdesigning']" class="read-more"><span class="text-indigo-600">Explore</span> <i class="bi bi-arrow-right"></i></a>
              </div>
          </div>
      
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-box orange">
                  <img src="../../assets/images/undraw_progressive_app_m-9-ms.svg" style="height: 200px;" class="mx-auto d-block">
                  <br>
                  <h3 style="color: black !important;">Web Development</h3>
                  <br>
                  <p style="color: black !important;">
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">Static Website</span>
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">Dynamic Website</span>
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">E-commerce</span>
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">Business Websites</span>
                  </p>
                  <br>
                  <a [routerLink]="['/webdevelopment']" class="read-more"><span class="text-indigo-600">Explore</span> <i class="bi bi-arrow-right"></i></a>
              </div>
          </div>
      
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-box orange">
                  <img src="../../assets/images/undraw_mobile_marketing_re_p77p.svg" style="height: 200px;" class="mx-auto d-block">
                  <br>
                  <h3 style="color: black !important;">Digital Marketing</h3>
                  <br>
                  <p style="color: black !important;">
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">Social Media Marketing</span>
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">Advertising</span>
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">Email Marketing</span>
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">Content</span>
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">Multimedia</span>
                  </p>
                  <br>
                  <a [routerLink]="['/digitalmarketing']" class="read-more"><span class="text-indigo-600">Explore</span> <i class="bi bi-arrow-right"></i></a>
              </div>
          </div>
      
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-box orange">
                  <img src="../../assets/images/undraw_design_tools_-42-tf.svg" style="height: 200px;" class="mx-auto d-block">
                  <br>
                  <h3 style="color: black !important;">UI/UX Designing</h3>
                  <br>
                  <p style="color: black !important;">
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">Wireframing</span>
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">User Interface</span>
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">User Experience</span>
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">Prototyping</span>
                  </p>
                  <br>
                  <a [routerLink]="['/uiux']" class="read-more"><span class="text-indigo-600">Explore</span> <i class="bi bi-arrow-right"></i></a>
              </div>
          </div>
      
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-box orange">
                  <img src="../../assets/images/undraw_logo_design_re_gfu6.svg" style="height: 200px;" class="mx-auto d-block">
                  <br>
                  <h3 style="color: black !important;">Graphic Designing</h3>
                  <br>
                  <p style="color: black !important;">
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">Illustration</span>
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">Motion Graphics Design</span>
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">Logo Design</span>
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">Poster Design</span>
                  </p>
                  <br>
                  <a [routerLink]="['/graphicdesigning']" class="read-more"><span class="text-indigo-600">Explore</span> <i class="bi bi-arrow-right"></i></a>
              </div>
          </div>
      
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-box orange">
                  <img src="../../assets/images/undraw_color_palette_re_dwy7.svg" style="height: 200px;" class="mx-auto d-block">
                  <br>
                  <h3 style="color: black !important;">College Projects</h3>
                  <br>
                  <p style="color: black !important;">
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">Hardware Simulation</span>
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">Software</span>
                      <span style="border: 1px solid black; padding: 5px 16px; margin-right: 12px; display: inline-block; border-radius: 25px; margin-bottom: 5px;">Mini Projects</span>
                  </p>
                  <br>
                  <a [routerLink]="['/collegeprojects']" class="read-more"><span class="text-indigo-600">Explore</span> <i class="bi bi-arrow-right"></i></a>
              </div>
          </div>
      
      </div>
      

      </div>

    </section><!-- End Services Section -->
</div>